<div>




  <select class="form-control" [(ngModel)]="searchValue">
    <label>Filter by {{searchValue}}:</label>
    <option *ngFor="let filter of filters" [ngValue]="filter.name">{{filter.display}}</option>
  </select>

  <input class="form-control" [(ngModel)]="term"/>

  <h1 class="jumbotron">{{searchValue}}</h1>

  <table class="table table-striped" [mfData]="characters" #mf="mfDataTable">

    <thead>

    <tr>
      <th>
        <mfDefaultSorter by="name">Name</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="info.class">Class</mfDefaultSorter>
      </th>

      <th>
        <mfDefaultSorter by="info.ilvl">Ilvl</mfDefaultSorter>
      </th>

      <th>
        <mfDefaultSorter by="progression">Prog</mfDefaultSorter>
      </th>

      <th>
        <mfDefaultSorter by="info.realm">Realm</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="info.style">Raiding Style</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="info.guild">Current Guild</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="btag">Btag</mfDefaultSorter>
      </th>

      <th>
        <mfDefaultSorter by="lastupdated">Last Update</mfDefaultSorter>
      </th>


    </tr>
    </thead>

    <tbody>

    <tr *ngFor="let character of mf.data | dataFilter: term:searchValue">

      <td><a class="{{character.info.class}}" target="_blank" href="https://www.wowprogress.com/character/{{character.info.zone}}/{{character.info.realm}}/{{character.name}}">{{character.name}}</a></td>
      <td class="{{character.info.class}}">{{character.info.class}}</td>
      <td>{{character.info.ilvl}}</td>
      <td>{{character.progression}}/10</td>
      <td>{{character.info.realm}}</td>
      <td>{{character.info.style}}</td>
      <td>{{character.info.guild}}</td>
      <td>{{character.btag}}</td>
      <td>{{character.lastupdated}}</td>
      <td><a target="_blank" href="https://www.wowprogress.com/character/{{character.info.zone}}/{{character.info.realm}}/{{character.name}}">wowp</a></td>
      <td><a target="_blank" href="http://eu.battle.net/wow/en/character/{{character.info.realm}}/{{character.name}}/simple">armory</a></td>
      <td><input type="button" (click)="change()" value="{{character.contact}}"></td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
    </tr>
    </tfoot>

  </table>
</div>