.monk {
    color: #00FF96;
}

.shaman {
    color: #0070DE;
}

.druid {
    color: #FF7D0A;
}

.paladin {
    color: #F58CBA;
}

.mage {
    color: #69CCF0;
}

.deathknight {
    color: #C41F3B;
}

.warlock {
    color: #9482C9;
}

.warrior {
    color: #C79C6E;
}

.priest {
    color: #FFFFFF;
}

.demon_hunter {
    color: #A330C9;
}

.rogue {
    color: #FFF569;
}

.hunter {
    color: #ABD473;
}